* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  letter-spacing: 0.025rem;
}

html {
  font-size: 10px;
}

/* html,
body {
  height: 100%;
} */

button {
  background-color: unset;
  border: none;
}

.font-white {
  color: white;
}

.font-dark {
  color: #13131b;
}

.font-white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.font-primary {
  color: #43ff8e;
}

.bg-dark {
  background-color: #13131b;
}

.bg-navy-100 {
  background-color: #181727;
}

.bg-navy-80 {
  background: #212634;
}

.min-height-100vh {
  min-height: 100vh;
}

.border-radius-5 {
  border-radius: 0.5rem;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.wrapper-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  height: 8rem;
  display: flex;
  align-items: flex-end;
}

.header .btn-back {
  padding: 1.6rem 2.4rem;
  font-size: 0;
  cursor: pointer;
}

.header .btn-back img {
  width: 1rem;
}

.header .font-page-title {
  font-size: 1.8rem;
  line-height: 4.7rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: #ffffff;
}

.wrapper-btn-type {
  width: 100%;
  max-width: 64rem;
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 0 2.4rem 1.8rem 2.4rem;
}

.wrapper-btn-type .btn-type {
  cursor: pointer;
  width: calc(100% / 3);
}

.wrapper-btn-type .btn-type p {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.5;
}

.wrapper-btn-type .btn-type:first-child {
  /* text-align: left; */
}

.wrapper-btn-type .btn-type p.active {
  border-bottom: 2px solid #ffffff;
  /* border-bottom: 1.6px solid #ffffff; */
  /* text-decoration: underline;
  text-underline-position: under; */
  opacity: 1;
}

.wrapper-poster {
  padding: 2rem 2.4rem 7rem 2.4rem;
  display: grid;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: repeat(auto-fill, minmax(9.8rem, auto));
  /* 375까지 3개 */
}

.wrapper-poster a {
  font-size: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
}

.wrapper-poster a img {
  width: 100%;
  height: inherit;
}

.wrapper-more {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.wrapper-more button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
  padding: 0.8rem 1.2rem;
  transform: translateX(1.2rem);
  border-radius: 0.5rem;
  cursor: pointer;
}

.wrapper-more button:focus,
.wrapper-more button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* tablet */
@media screen and (min-width: 1024px) {
  .header {
    height: 8.8rem;
  }

  .header .btn-back {
    padding: 2.4rem 4.8rem;
  }

  .header .btn-back img {
    width: 1.4rem;
  }

  .header .font-page-title {
    font-size: 2.1rem;
    line-height: 7.18rem;
  }

  .wrapper-btn-type {
    padding: 0 0 3.2rem 4.8rem;
  }

  .wrapper-btn-type .btn-type p {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }

  .wrapper-poster {
    padding: 3.2rem 4.8rem 8.2rem 4.8rem;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
  }

  .wrapper-more {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .wrapper-more button {
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    padding: 1.2rem 2rem;
    transform: translateX(2rem);
  }
}
