* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  letter-spacing: 0.025rem;
}

html {
  font-size: 10px;
}

button {
  background-color: unset;
  border: none;
}

.font-white {
  color: white;
}

.font-dark {
  color: #13131b;
}

.font-white-70 {
  color: rgba(255, 255, 255, 0.7);
}

.font-primary {
  color: #43ff8e;
}

.bg-dark {
  background-color: #13131b;
}

.bg-navy-100 {
  background-color: #181727;
}

.bg-navy-80 {
  background: #212634;
}

.min-height-100vh {
  min-height: 100vh;
}

.border-radius-5 {
  border-radius: 0.5rem;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.wrapper-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  height: 8rem;
  display: flex;
  align-items: flex-end;
}

.header .btn-back {
  padding: 1.6rem 2.4rem;
  font-size: 0;
}

.header .btn-back img {
  width: 1rem;
}

.header .font-page-title {
  font-size: 1.8rem;
  line-height: 4.9rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: #ffffff;
}

.wrapper-btn-type {
  padding: 1.2rem 0 2.4rem 2.4rem;
}

.wrapper-btn-type .btn-type {
  padding: 0 2.4rem;
}

.wrapper-btn-type .btn-type:first-child {
  margin-right: 0.8rem;
}

.wrapper-btn-type .btn-type p {
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: #ffffff;
}

.wrapper-btn-type .btn-type p.active {
  border-bottom: 2px solid #ffffff;
  /* todo 애니메이션, 클릭 이벤트 연결 */
}

.wrapper-poster {
  display: grid;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: repeat(auto-fill, minmax(10.1rem, auto));
}

.wrapper-poster a {
  font-size: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
}

.wrapper-poster a img {
  width: 100%;
  height: inherit;
}

.wrapper-more {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.wrapper-more button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}

/* doc-bar */
.doc-bar {
  position: fixed;
  bottom: 0;
  height: 5.4rem;
  width: 100%;
  background-color: #13131b;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.doc-bar a {
  padding: 0.8rem 0;
}

.doc-bar a img {
  width: 2.4rem;
}

.doc-bar p {
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: -0.02em;
}

.doc-bar-item {
  display: grid;
  justify-items: center;
  width: 100%;
}

/* tab */
@media screen and (min-width: 1024px) {
  .header {
    height: 8.8rem;
  }

  .header .btn-back {
    padding: 2rem 4.8rem;
  }

  .header .btn-back img {
    width: 1.4rem;
  }

  .header .font-page-title {
    font-size: 2.1rem;
    line-height: 6.38rem;
  }

  .wrapper-btn-type {
    padding: 2.4rem 0 3.4rem 4.8rem;
  }

  .wrapper-btn-type .btn-type p {
    font-size: 2.1rem;
    line-height: 2.6rem;
  }

  .wrapper-poster {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
  }

  .doc-bar {
    padding: 0 22rem;
    height: 6rem;
  }
}
